<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.np.dao.OrganizationDao">

    <select id="findAll" resultType="Organization">
        select id,name,address,code,icon,pid,seq,createdatetime,bankName,bankCard,bankUser,
        prov,city,contact,mobile,telphone,domain,orgType from sys_organization
        order by seq
    </select>

    <select id="findAllVo" resultType="OrganizationVo">
        select t.id as id, t.name as name,t.address as address,t.code as code,t.icon as icon,t.pid as pid,t.seq as seq,t.createdatetime as createdatetime, t.bankName as bankName,t.bankCard as bankCard,t.bankUser as bankUser,
        t.prov as prov,t.city as city,t.contact as contact,t.mobile as mobile,t.telphone as telphone,t.domain as domain,t.orgType as orgType, plt.money as money, plt.available_balance as availableBalance from sys_organization t left join pltm_account plt on
        t.id = plt.organization_id
        order by seq
    </select>


    <select id="findByOrgid" resultType="Organization">
        select id,name,address,code,icon,pid,seq,createdatetime,bankName,bankCard,bankUser,
        prov,city,contact,mobile,telphone,domain,orgType from sys_organization
        <if test="pid!=null">
            where pid=#{pid}
        </if>
        <if test="pid==null">
            where pid is null
        </if>
        order by seq
    </select>
    <select id="findByOrgType" resultType="Organization">
        select id,name,address,code,icon,pid,seq,createdatetime,bankName,bankCard,bankUser,
        prov,city,contact,mobile,telphone,domain,orgType from sys_organization
        <if test="orgType != null">
            where orgType=#{orgType} and domain != ''
        </if>
        order by seq
    </select>
    <insert id="add" parameterType="Organization" useGeneratedKeys="true" keyProperty="id">
        <!-- <selectKey keyProperty="id" order="AFTER" resultType="long">
            select LAST_INSERT_ID()
        </selectKey> -->
        insert into sys_organization(name,address,code,icon,pid,seq,createdatetime,
        bankName,bankCard,bankUser,prov,city,contact,mobile,telphone,domain,orgType,
        keep_time_single,keep_time_charter,credit_over,credit_time,charges,zz_path)
        value(#{name},#{address},#{code},#{icon},#{pid},#{seq},#{createdatetime},
        #{bankName},#{bankCard},#{bankUser},#{prov},#{city},#{contact},#{mobile},#{telphone},#{domain},#{orgType},
        #{keepTimeSingle},#{keepTimeCharter},#{creditOver},#{creditTime},#{charges},#{zzPath})
    </insert>

    <delete id="delete" parameterType="long">
        delete from sys_organization where id =#{id}
    </delete>

    <update id="update" parameterType="Organization">
        update sys_organization set name=#{name},address=#{address},code=#{code},icon=#{icon},
        pid=#{pid},seq=#{seq},createdatetime=#{createdatetime},
        bankName=#{bankName},bankCard=#{bankCard},bankUser=#{bankUser},
        prov=#{prov},city=#{city},contact=#{contact},mobile=#{mobile},telphone=#{telphone},
        domain=#{domain},orgType=#{orgType}
        where id=#{id}
    </update>

    <select id="get" parameterType="long" resultType="Organization">
        select id,name,address,code,icon,pid,seq,createdatetime,bankName,bankCard,bankUser,
        prov,city,contact,mobile,telphone,domain,orgType,
        keep_time_single keepTimeSingle,keep_time_charter keepTimeCharter,
        credit_over creditOver,credit_time creditTime,charges,zz_path zzPath
        from sys_organization
        where id=#{id}
    </select>

</mapper>